<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta Usando Template EJS</title>
</head>
<body>
    <h2>Usuário <%= nome %> foi Cadastrado com Sucesso!</h2>
    <p>
        Email: <%= email %>
    </p>
    <p>
        Telefone: <%= telefone %>
    </p>
    <p>
        Data de Nascimento: <%= nascimento %>
    </p>
    <p>
        Método Utilizado: <%= metodo %>
    </p>
</body>
</html>